<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 11:52:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegressionSuite.Appclose()[pri:0, instance:com.testng.RegressionSuite@7921b0a2]">&lt;&lt;Appclose</td> 
<td>&nbsp;</td>  <td>main@13326370</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 11:51:34</td>   <td>-51772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegressionSuite.Applaunch()[pri:0, instance:com.testng.RegressionSuite@7921b0a2]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@13326370</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>19/02/02 11:52:12</td>   <td>-13300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionSuite.Vrrifyvalidlogin()[pri:0, instance:com.testng.RegressionSuite@7921b0a2]">Vrrifyvalidlogin</td> 
  <td>main@13326370</td>   <td></td> </tr>
</table>
